body {
    background-color:rgba(72, 62, 156, 0.603) ;
}

#container {
    background-color: rgb(235, 233, 255);
    width: 1200px;
    margin: 20px auto;
    border: 5px solid rgb(70, 37, 78);
    padding: 20px;
}

img {
    display:block;
    margin: 0 auto;
    width: 700px;
}

nav {
    text-align: center;
    margin: 20px 0;
}

nav a {
    font-size: 24px;
    color: rgb(33, 22, 95);
    margin: 0 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
}

h1, 
h2, 
h3, 
h4 {
    text-align: center;
    font-size: 24px;
}

footer {text-align: center;}